body{
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family:-apple-system, "Helvetica Neue", Arial, "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei",  sans-serif;
	background-color: #fff;
}
img{
	width: 100%;
}
div{
	box-sizing:border-box;
} 
.container{
	max-width: 640px;
	margin: 0 auto;
}
.search{
	padding: 10px;
	background: #e4e4e4;
}
.search_text{
	-webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    border: none;
    display: block;
    border-radius: 1px;
    height: 35px;
    outline: 0;
    padding: 2px 10px;
    color: #666;
    font-size: 14px;
}

.tips{
	display: flex;
	padding: 8px 8px 10px 8px;
}
.tips .flex{
	flex:1;
	text-align: center;
}
.tips .flex .text{
	display: inline-block;
	font-size: 10px;
	position: relative;
	line-height: 15px;
	padding-left: 18px;
}
.tips .flex .text::before{
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
}
.t1::before{
	background: url(../img/heart.png);
	background-size:cover;
}
.t2::before{
	background: url(../img/taobao.png);
	background-size:cover;
}
.t3::before{
	background: url(../img/light.png);
	background-size:cover;
}


/*menu*/
.menu{
	height: 35px;
	background-color: #fff;
	margin: 5px 0;
}
.menu .swiper-slide{
	width: 75px;
	line-height: 30px;
	text-align: center;
}
.menu a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.content{
	background: #e4e4e4;
	min-height: 300px;
	padding: 8px 10px;
}
.content .item{
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}
.menu-top{
	position: fixed!important;
	height: 50px;
    top: -5px;
    max-width: 640px;
    border-bottom:1px solid #e4e4e4;
}
.menu-top .swiper-slide{
	line-height: 45px;
}